body {
  justify-content: center;
}
img {
  display: inline;
  width: 100%;
  height: auto;
  border-radius: 10px;
}
.gif {
  display: inline;
}
.grd {
  margin: auto;
  background-color: white;
  border-radius: 20px;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  width: 90vw;
  align-items: center;
}
@media screen and (max-width: 900px) {
  .grd {
    grid-template-columns: 1fr 1fr 1fr;
  }
}
